<% provide(:title, 'О нас') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    <div class="well">
     
      <h3>О нас</h3>
      <p style="font-size: 14px;">Информация о нашей компании</p>
     
    </div>
  </div>
</div>
