<% provide(:title, 'Контакты') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    <div class="well">
     
      <h3>Производственная компания "ТермоСип"</h3>
      <p style="font-size: 14px;">Адрес: Удмуртская республика, Малопургинский район, д. Старая Монья, ул. Новая, д.13</p>
      <p style="font-size: 14px;">Контактный телефон: 8-950-162-17-47 Дедюхин Сергей Сергеевич</p>
     
    <div align="center">
      <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=sV0fQdkdd865LeXo-faoAccKlMCxz3E0&width=600&height=450"></script>
    </div>
    
    </div>
  </div>
</div>

