<% provide(:title, 'Компания "ТермоСип" контакты') %>
<% provide(:meta_keywords, '') %>
<% provide(:meta_description, 'Контакты производственной компании "ТермоСип"') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    <div class="well">
     
      <h1>Производственная компания "ТермоСип"</h1>
      <p style="font-size: 14px; text-indent: 2em;"><strong>Адрес производства:</strong> Удмуртская республика, Малопургинский район, д. Старая Монья, ул. Новая, д.13 (50 км от Ижевска в направлении Можги)</p>
      <p style="font-size: 14px; text-indent: 2em;"><strong>Контактный телефон:</strong> 8-950-162-17-47</p>
      <p style="font-size: 14px; text-indent: 2em;"><strong>Контактный лицо:</strong> Дедюхин Сергей Сергеевич</p>
     
    <div align="center">
      <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=sV0fQdkdd865LeXo-faoAccKlMCxz3E0&width=600&height=450"></script>
    </div>
    
    </div>
  </div>
</div>

