<% provide(:title, 'Контакты') %>
<div class="well" style="margin-bottom: 20px;">  
  <h3>
    Производственная компания "ТермоСип"
  </h3>
  <p>
    Адрес: Удмуртская республика, Малопургинский район, д. Старая Монья, ул. Новая, д.13
  </p>
  <p>
    Контактный телефон: 8-950-162-17-47 Дедюхин Сергей Сергеевич
  </p>
</div>
  <div align="center">
    <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=sV0fQdkdd865LeXo-faoAccKlMCxz3E0&width=600&height=450"></script>
  </div>

