<% provide(:title, 'Утепление дома, фасадные термопанели, теплоизоляция') %>
<% provide(:meta_keywords, '') %>
<% provide(:meta_description, 'Наша компания занимается производством, монтажом и продажей фасадных термопанелей с клинкерной плиткой, предоставляет услуги по утеплению домов и теплоизоляции сооружений с применением пенополиуретана и пеноизола') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    <div class="well">
     
      <p align="justify" style="font-size: 14px;">Наша компания занимается <b>производством, монтажом и продажей <%= link_to "фасадных термопанелей с клинкерной плиткой", termopanel_path %></b>, предоставляет <b>услуги по утеплению домов и теплоизоляции сооружений с применением <%= link_to "пенополиуретана", ppu_path %> и <%= link_to "пеноизола", pi_path %></b>. Собственное производство позволяет поддерживать качество выпускаемой продукции на высоком уровне, что гарантирует ее эффективность в течение длительного срока службы. Наши специалисты при необходимости могут оказать консультационные услуги выехав к клиенту. Накопленный опыт позволяет реализовывать желаемые потребности заказчиков как можно точнее.</p>
      <p align="justify" style="font-size: 14px;">Основные группы объектов, на которых выполняются работы:</p>
      <ul>
        <li>частные дома различной этажности</li>
        <li>офисные здания</li>
        <li>производственные помещения</li>
        <li>технические сооружения и конструкции</li>
      </ul>
      <p align="justify" style="font-size: 14px;">Основные группы работ, которые можем Вам предложить:</p>
      <ul>
        <li>Монтаж фасадных термопанелей</li>
        <li>Напыление жесткого пенополиуретана</li>
        <li>Заливка пеноизола</li>
      </ul>
      
      <p align="justify" style="font-size: 14px;">Мы сотрудничаем с физическими и юридическими лицами. </p>
     
    </div>
  </div>
</div>


 