<% provide(:title, 'Утепление строений, клинкерные термопанели, пеноизол, пенополиуретан') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    <div class="well">
     <p>Here is our content.</p>
     <p style="text-align:center;"><%= image_tag "20130530_135215.jpg", alt: "IMAGE", size: "500x300", class: "img-polaroid" %></p>
     <p>Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.Here is our content.</p>
     <p style="text-align:center;"><%= image_tag "20130602_193206.jpg", alt: "IMAGE", size: "700x700", class: "img-polaroid" %></p>
     <p style="text-align:center;"><%= video_tag "монтаж ТП 2.mp4", controls: true %></p>
    </div>
  </div>
</div>


 