<% provide(:title, 'Утепление строений, клинкерные термопанели, пеноизол, пенополиуретан') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    <div class="well">
     
     <p>Here is our content.</p>
     
    </div>
  </div>
</div>


 