<% provide(:title, 'Утепление строений, клинкерные фасадные термопанели, пеноизол, пенополиуретан') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    <div class="well">
     
      <p align="justify" style="font-size: 14px;">Наша компания занимается <b>производством, монтажом и продажей <%= link_to "клинкерных фасадных термопанелей", termopanel_path %></b>, предоставляет <b>услуги по утеплению/теплоизоляции строений и сооружений с применением <%= link_to "пенополиуретана", ppu_path %> и <%= link_to "пеноизола", pi_path %></b>. Собственное производство позволяет нам поддерживать качество выпускаемой продукции на высоком уровне, что гарантирует ее эффективность в течение длительного срока службы. Наши специалисты при необходимости могут оказать консультационные услуги выехав к клиенту. Накопленный нами опыт позволяет обеспечивать желаемые потребности заказчиков с максимальным приближением. Основные группы объектов, на которых выполняются работы:</p>
      <ul>
        <li>частные дома (одно-, двух-, трехэтажные)</li>
        <li>офисные здания</li>
        <li>производственные помещения</li>
        <li>технические сооружения и конструкции</li>
      </ul>
      <p align="justify" style="font-size: 14px;">Мы сотрудничаем с физическими и юридическими лицами. </p>
     
    </div>
  </div>
</div>


 