<% provide(:title, 'Утепление/теплоизоляция с применением пеноизола') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    <div class="well">
     
      <p align="justify" style="font-size: 14px;"></p>
     
    </div>
  </div>
</div>