<% provide(:title, 'Утепление и теплоизоляция с применением пеноизола') %>
<% provide(:meta_keywords, '') %>
<% provide(:meta_description, 'Для утепления дома или дачи отлично подойдет современный материал пеноизол. Он хорошо удерживает тепло и является прекрасным шумоизолятором.') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    
    <div class="page-header">
      <h1>Утепление и теплоизоляция с применением пеноизола</h1>
    </div>

    <div class="well">
     
      <p align="justify" style="font-size: 14px; text-indent: 2em;"><b>Пеноизол - отличный утеплитель для дома.</b></p>
      
      <p align="justify" style="font-size: 14px; text-indent: 2em;"><%= image_tag("pi 2.jpg", alt: "ECOLOGY", size: "400x400", class: "img-rounded rightimg") %>Для утепления дома или дачи отлично подойдет современный материал пеноизол. Он хорошо удерживает тепло и является прекрасным шумоизолятором. Пеноизол можно применять как для стен, так и для крыши или пола дома. Используют его и в промышленности.</p>

      <p align="justify" style="font-size: 14px; text-indent: 2em;">Пеноизол состоит из карбамидной смолы, ортофосфорной кислоты, пенообразователя и воды. По большому счету, его можно изготовить и самостоятельно, если знать необходимые пропорции. При смешивании пенообразователя и отвердителя получают нужный раствор. Далее при смешивании полученного раствора и смолы в пеногенераторе получают пеноизол. Пеноизол не увеличивается в объеме, как другие утеплители. Смешанные и вспененные при помощи компрессора компоненты подаются в виде раствора через шланг в форму, где происходит их отвердевание в течение 3 часов. Потом эта масса легко режется обычным ножом или струной. Нарезанные пласты необходимо высушить около суток, а затем можно применять по назначению.</p>

      <p align="justify" style="font-size: 14px; text-indent: 2em;"><b>Пеноизол прекрасно экономит расходы на отопление</b>, а также может использоваться для утепления старых домов или теплотрасс с целью усиления их теплопроводности. Данный материал <b>экологически чистый</b> и не способен воспламеняться. Он <b>помогает дому «дышать»</b>, не нарушая его естественных функций по теплопроводности и вентиляции.</p>

      <p align="justify" style="font-size: 14px; text-indent: 2em;">Пеноизол <b>устойчив к образованию грибков и плесени, грызуны обходят его стороной. Кроме всего этого, материал относительно недорогой.</b> Пеноизол используют как в больших полостях дома, так и в отверстиях между кирпичной кладкой и в швах. При покрытии здания данным материалом <b>затраты на обогрев помещения уменьшаются в несколько раз</b>, а сами работы по применению материала окупаются буквально за год.</p>

      <p align="justify" style="font-size: 14px; text-indent: 2em;">В Европе пеноизол используют даже для укрытия свалок, для предотвращения их возгорания. В некоторых странах, таких, как США и Чехия, материал помещают внутрь панелей из бетонных блоков или железобетона в качестве утеплителя. Пеноизол может использоваться в виде листа и крошки.</p>

      <p align="justify" style="font-size: 14px; text-indent: 2em;">Пеноизол применяют:</p>
      
      <ul style="padding: 0; margin-left: 40px;">
        <li style="margin: 3px;">в кирпичной кладке</li>
        <li style="margin: 3px;">для утепления стен здания с последующей обшивкой</li>
        <li style="margin: 3px;">для утепления внутренних стен дома</li>
        <li style="margin: 3px;">в виде крошки в гипсокартон и пустоты в стене</li>
        <li style="margin: 3px;">при создании сэндвич панелей</li>
        <li style="margin: 3px;">на мансардах и чердаках в качестве утеплителя</li>
        <li style="margin: 3px;">над навесным потолком</li>
        <li style="margin: 3px;">для утепления кровли</li>
        <li style="margin: 3px;">как утепление под полом</li>
        <li style="margin: 3px;">для теплоизоляции холодильных камер, овощехранилищ и сушильных камер</li>
        <li style="margin: 3px;">в качестве теплоизоляции трубопроводов</li>
        <li style="margin: 3px;">в качестве заливки прямо в процессе строительства в любые пустоты</li>
      </ul>

      <p align="justify" style="font-size: 14px; text-indent: 2em;">При правильном размещении пеноизола он прекрасно справляется со своими функциями и не доставляет жильцам дома никаких проблем.</p>

      <p align="justify" style="font-size: 14px; text-indent: 2em;">Пеноизол - прекрасный утеплительный материал, он невероятно востребован, как у строительных организаций, так и у частников, поэтому у этого материала большое будущее. <b>Отличное качество пеноизола и невысокая цена</b> (он дешевле любого материала с такими же свойствами) ставят его на одно из первых мест среди утеплителей.</p>
     
    </div>
  </div>
</div>