<div class="span3">
  <div class="well">
    <nav>
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a style="color: #4183C4; padding-right:2px; padding-left:2px" href="#">
            <i class="icon-chevron-right"></i>Утепление пенополиуретаном
          </a>
        </li>
        <li>
          <a style="color: #4183C4; padding-right:2px; padding-left:2px" href="#">
            <i class="icon-chevron-right"></i>Утепление пеноизолом
          </a>
        </li>
        <li>
          <a style="color: #4183C4; padding-right:2px; padding-left:2px" href="#">
            <i class="icon-chevron-right"></i>Клинкерные термопанели
          </a>
        </li>
        <li>
          <a style="color: #4183C4; padding-right:2px; padding-left:2px" href="/klinker">
            <i class="icon-chevron-right"></i>Клинкерные плитки
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>