<div style='position: relative; width: 100%; height: 0px; padding-bottom: 60%;'>
  <iframe style='position: absolute; left: 0px; top: 0px; width: 100%; height: 100%' src="<%= url %>" frameborder="0" allowfullscreen></iframe>
</div>
