@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

//главный контейнер
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

//для работы выпадающего меню на мобильных устройствах
.dropdown-backdrop{
  position: static;
}

#centerLayer {
  margin-left: 8%; /* Отступ слева */
  width: 720px; /* Ширина слоя */
  height: 450px;
  padding: 5px; /* Поля вокруг текста */
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-image: asset_url("light-4857.png");
  background-repeat: repeat;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  font-family: Times New Roman, serif;
}

h2 {
  font-size: 1.5em;
  letter-spacing: 0px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  font-family: Times New Roman, serif;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

#titleContainer {
  width: 75%;
}

.main-header {
  padding: 10px 0 10px;
  background-color: #3483a5;
  background-image: linear-gradient(to bottom,#328bb1,#4baad3);
  text-align: left;
  margin-bottom: 30px;
  margin-top: 0px;
  line-height: 1.428571429;
  width: 100%;
}

.main-header .title {
  color: #fff;
  font-size: 35px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}

.main-header .desc {
  color: #eee;
  margin: 20px 0 0;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
  li {
    margin-bottom: 10px;
  }
}

/* Кнопка наверх */

#w2b-StoTop {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width:100px;background-color: #EEEEEE;
  background-color: rgba(238, 238, 238, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#99EEEEEE',EndColorStr='#99EEEEEE');
  text-align:center;
  padding:5px;position:fixed;
  bottom:10px;
  right:10px;
  cursor:pointer;
  color:#444;
  text-decoration:none;
  border:1px solid #C9C9C9;
}

.nav-header {
  font-size: 1.2em;
  letter-spacing: 0px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
  color:#444;
  font-family: Times, serif;
  //border:1px solid #C9C9C9;
  //border-radius: 2px;
  //background-color: #fff;
  //-moz-box-shadow: 0 0 6px rgba(0,0,0,0.06);
  //-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.06);
  //box-shadow: 0 0 6px rgba(0,0,0,0.06);
}

.nav-tabs {
  background-color: #fff;
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.06);
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.06);
  box-shadow: 0 0 6px rgba(0,0,0,0.06);
}

#wrapperPanel {
  //background-color: #fff;
}

.row-separate {
    height: 15px;
}

//боковое меню
ul.secondary-menu {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
}

ul.secondary-menu li {
  background: #333333;
  list-style: none;
  position: relative;
  border-radius: 10px;
  margin-bottom: 1px;
}

ul.secondary-menu li a {
  padding: 10px;
  display: block;
  border-top: 1px;
  border-right: 1px;
  font-size: 16px;
  font-family: Times, serif;
  font-weight: normal;
  color:  #ddd;
  text-decoration: none;
  border-radius: 10px;
}

ul.secondary-menu li a:hover,
ul.secondary-menu li:hover > a {
  background: #3483a5;
  border-radius: 10px;
}

ul.secondary-menu li ul,
ul.secondary-menu li ul.sub-menu li ul {
  margin: 0;
  padding: 0;
  display: none;
}

ul.secondary-menu li:hover ul,
ul.secondary-menu li ul.sub-menu li:hover ul {
  left: 200px;
  top: 0px;
  width: 200px;
  display: block;
  position: absolute;
  z-index: 100;
}

//стильный разделитель
HR {
  padding-bottom: 1px;
  background-color: #9b9b9b;
  border-bottom:1px solid #F4F4F4;
}

//текст поверх линии
.line {   
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.line:before,
.line:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #000;
  z-index: -1;
  position: relative;
  vertical-align: middle;
}

.line:before {
  right: 15px;
  margin: 0 0 0 -100%;
}
.line:after {
  left: 15px;
  margin: 0 -100% 0 0;
}

//стилизация заголовка
h1 {
  font: normal 1.7em Georgia, "Times New Roman", Times, serif;
  margin: 0 0 0px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 0;
  font-weight: normal;
  text-align: center;
  text-shadow: 1px 1px 1px #ccc; /*--Не поддерживается IE--*/
}

h1 span {
  color: #cc0000;
  font-weight: bold;
}

h1 small {
  font-size: 0.35em;
  text-transform: uppercase;
  color: #999;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: none;
  display: block; /*--Выделяем для тэга small отдельную линию--*/
}

.well {
  margin-bottom: 5px;
  background-color: #fff;
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.06);
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.06);
  box-shadow: 0 0 6px rgba(0,0,0,0.06);
  //overflow: hidden;
  //-moz-overflow: hidden;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  //border-top: 1px solid #CCC;
  //margin-bottom: 10px;
  //width: 100%;
  //padding: 19px;
  border-radius: 0 0 5px 5px;
}

.page-header {
  background-color: whiteSmoke;
  background-image: -moz-linear-gradient(center top,white 26%,whiteSmoke 76%);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.26,white),color-stop(0.76,whiteSmoke));
  background-image: -ms-linear-gradient(center top,white 26%,whiteSmoke 76%);
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  border: 1px solid #CCC;
  padding-bottom: 0;
  border-bottom: 1px solid #CCC;
  margin-bottom: 0px;
  //float: left;
  //width: 100%;
  //padding-left: 19px;
  //padding-right: 19px;
}

//таблицы
.features-table
{
  width: auto;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  text-shadow: 0 1px 0 #fff;
  color: #2a2a2a;
  background: #fafafa;
  background-image: -moz-linear-gradient(top, #fff, #eaeaea, #fff); /* Firefox 3.6 */
  background-image: -webkit-gradient(linear,center bottom,center top,from(#fff),color-stop(0.5, #eaeaea),to(#fff));
  margin-top:20px;
  margin-bottom:20px;
  font-family: Times, serif;
}
 
.features-table td
{
  height: 30px;
  padding: 0 10px;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  -webkit-box-shadow: 0 1px 0 white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
 
.features-table tbody td
{
  text-align: center;
  width: auto;
  font-size: 110%;
  border-right: 1px solid #cdcdcd;
}
 
 
.features-table td.grey
{
  background: #efefef;
  background: rgba(144,144,144,0.15);
  border-right: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  text-align: left;
}
 
.features-table td.green
{
  background: #dff0d8;
  //background: rgba(184,243,85,0.3);
}
 
.features-table td:nowrap
{
  white-space: nowrap;
}
 
.features-table thead td
{
  font-size: 100%; 
  font-weight: bold;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
}

.features-table thead td.noradius
{
  font-size: 100%; 
  font-weight: bold;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  //border-top: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  //border-left: 1px solid white;
}
 
.features-table tfoot td
{
  font-size: 110%; //120
  font-weight: normal; //bold
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: 1px solid #dadada;
  border-right: 1px solid #cdcdcd;
}





