<div class="main-header">
  <div class="container" style="" id="titleContainer">
    <%#= image_tag("stroitel weight.png", class: "rightimgheader")%>
    <%#= image_tag "tab_bg1.png" %>    
    <div class="title" style="font-size: 28px; font-family: Trebuchet MS, Helvetica CY, sans-serif; margin-bottom: -2px; padding-left:10px;padding-top:5px;">
      Производственная компания "ТермоСип" 
    </div>
    
    <div class="desc" style="padding-left:10px;">
      
            
        <ul style="font-size: 19px; font-family: Trebuchet MS, Helvetica CY, sans-serif;" class="itemlist">
          <li style="">Производство и монтаж фасадных термопанелей с клинкерной плиткой</li>
          <li style="">Производство и монтаж СИП панелей</li>
          <li style="">Утепление домов, теплоизоляция сооружений пеноизолом и пенополиуретаном</li>
        </ul>

        <p style="font-size: 19px; font-family: Trebuchet MS, Helvetica CY, sans-serif; margin-bottom: 2px;">Выезд на замеры в радиусе 60 км (включая Ижевск) бесплатно</p>
        <p style="font-size: 19px; font-family: Trebuchet MS, Helvetica CY, sans-serif; margin-top: 2px;">Контактный телефон: 8-950-162-17-47 ☎</p>  


        <div class="row">
          <div class="span4" style="width:auto;">
            <div class="pr1">
              <p style="font-family: Times, serif; font-size: 16px; padding-top:15px;"><b>оперативность</b></p>
            </div>
          </div>
          <div class="span4" style="width:auto;">
            <div class="pr2">
              <p style="font-family: Times, serif; font-size: 16px; padding-top:15px;"><b>цена / качество</b></p>
            </div>
          </div>
          <div class="span4" style="width:auto;">
            <div class="pr3">
              <p style="font-family: Times, serif; font-size: 16px; padding-top:15px;"><b>гарантия</b></p>
            </div>  
          </div>
        </div>           

    </div>
    
  </div>
</div>
