<div class="main-header">
  <div class="container" style="margin-left:80px;" id="titleContainer">
    <div class="title">Производственная компания "ТермоСип"</div>
    <div class="desc">
      
      <ul style="font-size: 20px;">
        <li style="">Производство, монтаж и продажа фасадных термопанелей с клинкерной плиткой</li>
        <li style="">Утепление домов, теплоизоляция сооружений с помощью пеноизола и пенополиуретана</li>
      </ul>

      <p style="font-size: 20px;">Выезд на замеры наших специалистов в радиусе 60 км (включая Ижевск) бесплатно</p>
      <p style="">Контактный телефон: 8-950-162-17-47</p>
      
    </div>
  </div>
</div>