<div class="main-header">
  <div class="container" style="" id="titleContainer">
    <div class="title" style="font-size: 34px; font-family: Times, serif; margin-bottom: -2px;">Производственная компания "ТермоСип"</div>
    <div class="desc">
      
      <ul style="font-size: 24px; font-family: Times, serif;">
        <li style="">Производство, монтаж и продажа фасадных термопанелей с клинкерной плиткой</li>
        <li style="">Утепление домов, теплоизоляция сооружений с помощью пеноизола и пенополиуретана</li>
      </ul>

      <p style="font-size: 24px; font-family: Times, serif; margin-bottom: 0px;">Выезд на замеры наших специалистов в радиусе 60 км (включая Ижевск) бесплатно</p>
      <p style="font-size: 24px; font-family: Times, serif; margin-top: -2px;">Контактный телефон: 8-950-162-17-47</p>
      
    </div>
  </div>
</div>