<div class="main-header">
  <div class="container" style="margin-left:140px;">
    <div class="title">Производственная компания "ТермоСип"</div>
    <div class="desc">
      <ul style="font-size: 20px;">
        <li style="">
          Производство и монтаж клинкерных термопанелей
        </li>
        <li style="">
          Утепление строений, сооружений с применением пеноизола и пенополиуретана
        </li>
      </ul>
      <p style="">
        Контактный телефон: 8-950-162-17-47
      </p>
    </div>
  </div>
</div>