<div class="main-header">
  <div class="container" style="" id="titleContainer">
    
    <div class="title" style="font-size: 32px; font-family: Times, serif; margin-bottom: -2px; padding-left:10px;padding-top:5px;">
      Производственная компания "ТермоСип"
    </div>
    <div class="desc" style="padding-left:10px;">
      
      <ul style="font-size: 22px; font-family: Times, serif;">
        <li style="">Производство и монтаж фасадных термопанелей с клинкерной плиткой</li>
        <li style="">Производство и монтаж СИП панелей</li>
        <li style="">Утепление домов, теплоизоляция сооружений пеноизолом и пенополиуретаном</li>
      </ul>

      <p style="font-size: 22px; font-family: Times, serif; margin-bottom: 0px;">Выезд на замеры наших специалистов в радиусе 60 км (включая Ижевск) бесплатно</p>
      <p style="font-size: 22px; font-family: Times, serif; margin-top: -2px;">Контактный телефон: 8-950-162-17-47 ☎</p>
    </div>

  </div>
</div>